<div>
  <h1>Carrito: {{cartId}}</h1>
  <div class="cart_container">
    {{#if products}}
      {{#each products}}
        <div class="cart_item {{#if this.status}}green{{else}}red{{/if}}">
          <div>
            <p><strong>ID: </strong>{{this._id}}</p>
            <p><strong>Nombre: </strong>{{this.title}}</p>
            <p><strong>Precio: </strong>{{this.price}}</p>  
          </div>
          <div>
            <p><strong>Categoria: </strong>{{this.category}}</p>
            <p>Stock:{{this.stock}}</p>
            <p>Descripción:{{this.description}}</p>
            <strong>Cantidad: {{this.quantity}}</strong>
          </div>
        </div>
      {{/each}}
    {{else}}
      <h3 style="text-align: center; margin: 1rem">No hay productos en el carrito</h3>
    {{/if}}
  </div>
</div>