<div>
  <h1>Detalles del producto: {{title}}</h1>
  <div class="products_container">
    <div class="expand">
      <div class="product {{#if status}}green{{else}}red{{/if}}">
        <p><strong>ID: </strong>{{_id}}</p>
        <p><strong>Nombre: </strong>{{title}}</p>
        <p><strong>Precio: </strong>{{price}}</p>
        <p><strong>Categoria: </strong>{{category}}</p>
        <p>Stock:{{stock}}</p>
        <p>Descripción:{{description}}</p>

        <div class="product_buttons_container">
          <button id="{{_id}}" class="button_add_to_cart expand" {{#unless status}}disabled{{/unless}}>🛒</button>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/products.js"></script>